{% extends "base.html" %}
{% block title %}POKEDEX{% endblock title %}
{% block content %}
    <p class="p-2">BIENVENIDO A TU POKEDEX</p>
    <h3 class="p-2">POKEMONS</h3>
    <div class="card-group">
        {% for pokemon in pokemons %}
            <div class="card">
                <img src="{{ pokemon.picture.url }}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon }}</h4>
                    <p class="card-text">
                        Entrenador: {{ pokemon.trainer }} <br>
                        Peso: {{ pokemon.weight }}
                    </p>
                </div>
                <a href="pokemon/{{ pokemon.id}}" class ="btn btn-primary">
                <i class="fa-solid fa-biohazard"></i>
                </a>
                {% if user.is_authenticated %}
                <a href="edit_pokemon/{{ pokemon.id}}" class ="btn btn-primary">
                <i class="fa fa-pencil"></i>
                  </a>
                <a href="delete_pokemon/{{ pokemon.id}}" class ="btn btn-danger">
                <i class="fa fa-trash"></i>
                  </a>
                {% endif %}
            </div>    
        {% endfor %}
    </div>
    <h3 class="p-2">ENTRENADORES</h3>

    <div class="card-group">    
        {% for trainer in trainers %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ trainer }}</h4>
                    <p class="card-text">
                        Pokemon: {{ trainer.pokemon }} <br>
                    </p>
                </div>
                <a href="trainer/{{ trainer.id}}" class ="btn btn-primary">
                <i class="fa-solid fa-biohazard"></i>
                </a>
                {% if user.is_authenticated %}
                <a href="edit_trainer/{{ trainer.id}}" class ="btn btn-primary">
                <i class="fa fa-pencil"></i>
                  </a>
                <a href="delete_trainer/{{ trainer.id}}" class ="btn btn-danger">
                <i class="fa fa-trash"></i>
                  </a>
                {% endif %}
            </div>    
        {% endfor %}
    </div>
{% endblock content %}


